{% extends "base.html" %}

{% block head %}
<title>Deb8</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}">

{% endblock %}
{% block content %}
<div class="main-container">
    <div id="login-status" data-logged-in="{{ 'true' if context.logged_in else 'false' }}"></div>
    <div class="hello">
        <div class="hello-text">
            <h1>Hello And Welcome to Deb8!</h1>
            <p>This is the online forum where everyone's voice matters. <br>
            Join discussions on diverse topics, share your opinions, and engage in debates.<br>
            <strong>Explore, express, and evolve your ideas at Deb8.</strong></p>
        </div>
        <div class="hello-img">
            <img src="{{ url_for('static', filename='images/debate.png') }}">
        </div>
    </div>
    <div class="main-header">
        <h3>Topics</h3>
        <p id="add" style="cursor: pointer;">Add a Topic</p>
    </div>
    <div class="topics">
        {% for topic in context.topics %}
            <div class="topic-container">
                <div class="first-cont">
                    <a id="header" href="{{ url_for('topic', topicId=topic.topicID) }}">{{ topic.topicName }}</a>
                    <p class="info" id="time">{{topic.creationTime}}</p>
                </div>
                <div class="topic-info">
                    <p class="info">Created by: @{{topic.postingUser}}</p>

                </div>
            </div>
        {% endfor %}
    </div>
    <div id="overlay" style="display: none;">
        <div id="form-container-topic" style="display: none;">
            <div class="form-header">
                <h2>Create New Topic</h2>
            </div>
            <form id="create-topic-form" action="{{ url_for('create_topic') }}" method="POST">
                <label for="topicName">Topic Name:</label>
                <input type="text" id="topicName" name="topicName" required>
                <button type="submit">Create Topic</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("add").addEventListener("click", function() {
            const isLoggedIn = document.getElementById("login-status").getAttribute("data-logged-in") === "true";
            if (isLoggedIn) {
                document.getElementById("form-container-topic").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            } else {
                document.getElementById('login-overlay').style.display = 'block';
            }
        });
        
        document.addEventListener("click", function(event) {
            if (event.target.id !== "add" && !document.getElementById("form-container-topic").contains(event.target)) {
                document.getElementById("form-container-topic").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }
        });
    
        document.getElementById("create-topic-form").addEventListener("submit", function(event) {
        event.preventDefault(); 
    
    
        var formData = new FormData(this);
        
    
        fetch("{{ url_for('create_topic') }}", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success === true) {
                document.getElementById("form-container-topic").style.display = "none";
                document.getElementById("overlay").style.display = "none";
    
                var newTopicContainer = document.createElement("div");
                newTopicContainer.classList.add("topic-container");
                
                var topicLink = document.createElement("a");
                topicLink.href = "/topic/" + (data.topicID ? data.topicID : 0);
                topicLink.textContent = data.topicName;
                topicLink.setAttribute('id', 'header');
                newTopicContainer.appendChild(topicLink);
                
                const creationTime = document.createElement('p');
                creationTime.textContent =`${data.creationTime}`;
                creationTime.classList.add('info');
                newTopicContainer.appendChild(creationTime);
    
                var postingUserPara = document.createElement("p");
                postingUserPara.textContent = "Created by: @" + data.postingUser;
                postingUserPara.classList.add('info');
                newTopicContainer.appendChild(postingUserPara);
    
                var topicsContainer = document.querySelector(".topics");
                var firstTopic = topicsContainer.firstChild;
                topicsContainer.insertBefore(newTopicContainer, firstTopic);
    
    
            } else {
                console.error("Failed to create topic");
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    });
    });
    </script>
{% endblock %}